.icon {
  font-size: 160px; }
  .icon:before {
    content: ' ';
    vertical-align: middle;
    display: inline-block;
    background-image: url("assets/svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 42.175em 37.38125em; }
    .no-svg .icon:before {
      background-image: url("../svg/sprite.png"); }

.icon.angular:before {
  background-position: 0em 0em;
  width: 1.6em;
  height: 1.7em; }

.icon.bootstrap:before {
  background-position: -1.6em -1.7em;
  width: 1.6em;
  height: 1.6em; }

.icon.css3:before {
  background-position: -3.2em -3.3em;
  width: 2.418225em;
  height: 3.41333125em; }

.icon.git-icon:before {
  background-position: -5.61875em -6.71875em;
  width: 1.6em;
  height: 1.6em; }

.icon.grunt:before {
  background-position: -7.21875em -8.31875em;
  width: 1.6em;
  height: 2.15em; }

.icon.gulp:before {
  background-position: -8.81875em -10.46875em;
  width: 1.6em;
  height: 3.5375em; }

.icon.html5:before {
  background-position: -10.41875em -14.00625em;
  width: 3.2em;
  height: 3.2em; }

.icon.jasmine:before {
  background-position: -13.61875em -17.20625em;
  width: 1.6em;
  height: 1.59375em; }

.icon.javascript:before {
  background-position: -15.21875em -18.8em;
  width: 1.6em;
  height: 1.6em; }

.icon.knockout:before {
  background-position: -16.81875em -20.4em;
  width: 3.2em;
  height: 0.775em; }

.icon.less-logo:before {
  background-position: -20.01875em -21.175em;
  width: 6.01875em;
  height: 2.69375em; }

.icon.logo:before {
  background-position: -26.0375em -23.86875em;
  width: 1.2125em;
  height: 0.31875em; }

.icon.mysql:before {
  background-position: -27.25em -24.1875em;
  width: 1.6em;
  height: 1.575em; }

.icon.nodejs:before {
  background-position: -28.85em -25.7625em;
  width: 1.6em;
  height: 1.80625em; }

.icon.photoshop-cc:before {
  background-position: -30.45em -27.56875em;
  width: 3.72049375em;
  height: 3.6274875em; }

.icon.php:before {
  background-position: -34.175em -31.2em;
  width: 1.6em;
  height: 0.84375em; }

.icon.sass:before {
  background-position: -35.775em -32.04375em;
  width: 1.6em;
  height: 1.2em; }

.icon.sketch:before {
  background-position: -37.375em -33.24375em;
  width: 1.6em;
  height: 1.5875em; }

.icon.woocommerce:before {
  background-position: -38.975em -34.83125em;
  width: 1.6em;
  height: 0.95625em; }

.icon.wordpress:before {
  background-position: -40.575em -35.7875em;
  width: 1.6em;
  height: 1.59375em; }

body {
  background-image: url("images/bg.jpg"); }

p {
  margin-bottom: 5px; }

.pb20 {
  padding-bottom: 20px; }

.f8 {
  font-size: 8px; }

.f9 {
  font-size: 9px; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.f22 {
  font-size: 22px; }

.f23 {
  font-size: 23px; }

.main-container {
  margin: 20px auto;
  position: relative;
  min-height: 800px; }

blockquote {
  display: inline-block;
  position: relative;
  border: none; }

.footer {
  margin-top: 50px;
  padding-top: 30px;
  position: relative; }
  .footer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(9, 57, 85, 0.3), transparent);
    top: 0;
    left: 0; }

hr {
  background-image: linear-gradient(to right, transparent, rgba(42, 198, 173, 0.3), transparent);
  border: 0;
  height: 1px;
  margin: 30px 0; }

.subtitle {
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 32px;
  position: relative;
  line-height: 1; }
  .subtitle:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 2px;
    background: #2ac6ad;
    bottom: 0;
    left: 2px; }

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0; }
    .navbar .pull-right {
      width: 100%;
      text-align: center; }
  header {
    margin: 15px 0; } }

@media (min-width: 768px) {
  header {
    margin: 50px 0; }
  .subtitle {
    margin-top: 0; } }

.icon.logo {
  line-height: 0; }

.header-icons {
  margin-top: 17px; }
  .header-icons li {
    padding: 0;
    vertical-align: top; }
    .header-icons li a {
      font-size: 18px;
      color: #093955; }
      .header-icons li a:hover {
        color: #2ac6ad;
        text-decoration: none; }

.thumbnails-container {
  margin: 0 auto;
  text-align: center; }
  .thumbnails-container .thumbnail {
    text-align: left;
    position: relative;
    border-radius: 0;
    border: none;
    padding: 5px;
    color: #666666;
    margin: 6px 3px;
    background: transparent;
    cursor: pointer; }
  .thumbnails-container .thumbnail-wrapper {
    background: #fff; }

.thumbnail-content {
  padding: 20px;
  border-top: none;
  border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;
  border-bottom: 2px solid #efefef; }
  .thumbnail-content p {
    font-size: 16px;
    line-height: 22px; }

.thumbnail-title {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  color: #222;
  font-family: "Open Sans", sans-serif, Arial;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 20px; }
  .thumbnail-title:before {
    content: ' ';
    height: 2px;
    width: 80px;
    background: #222;
    position: absolute;
    bottom: -10px; }

.thumbnail-caption-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .thumbnail-caption-content .caption-text {
    margin-top: 35px;
    text-align: center;
    font-weight: 700;
    color: #222; }

.img-plus {
  width: 70px;
  height: 2px;
  background: #093955;
  position: relative;
  margin-left: -5px;
  display: inline-block; }
  .img-plus:after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 70px;
    background: #093955;
    left: 50%;
    margin-left: -1px;
    top: -34px; }

.effect-bubba:hover {
  background: #2ac6ad; }
  .effect-bubba:hover .thumbnail-wrapper {
    opacity: 0.1; }
  .effect-bubba:hover .thumbnail-caption-content {
    display: block; }

.effect-bubba .thumbnail-caption::before,
.effect-bubba .thumbnail-caption::after {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

.effect-bubba .thumbnail-caption::before {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

.effect-bubba .thumbnail-caption::after {
  border-right: 2px solid #222;
  border-left: 2px solid #222;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

.effect-bubba:hover .thumbnail-caption::before,
.effect-bubba:hover .thumbnail-caption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.effect-bubba .thumbnail-caption-content .img-plus {
  opacity: 0;
  margin-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(50%, -20px, 0);
  transform: translate3d(50%, -20px, 0); }

.effect-bubba .thumbnail-caption-content .caption-text {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

.effect-bubba:hover .thumbnail-caption-content .img-plus {
  opacity: 1;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0); }

.effect-bubba:hover .thumbnail-caption-content .caption-text {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media (max-width: 637px) {
  .thumbnails-container .effect-bubba:hover {
    background: none; }
    .thumbnails-container .effect-bubba:hover .thumbnail-wrapper {
      opacity: 1; }
  .portfolio-technologies {
    text-align: center; }
    .portfolio-technologies li {
      margin-top: 15px; } }

@media (min-width: 768px) {
  .thumbnails-container .thumbnail {
    width: 310px;
    height: 390px; } }

@media (min-width: 638px) and (max-width: 992px) {
  .modal-dialog {
    width: 90%;
    margin: 5% auto; }
    .modal-dialog .media-object {
      position: relative; }
      .modal-dialog .media-object .pull-left {
        float: none !important; }
        .modal-dialog .media-object .pull-left div {
          margin: 0 auto; }
      .modal-dialog .media-object .pull-right {
        position: absolute;
        top: 5px;
        right: 5px; } }

.modal-dialog {
  width: 900px; }
  .modal-dialog .img-close {
    cursor: pointer; }
  .modal-dialog .modal-content {
    border-radius: 0; }
  .modal-dialog .modal-header {
    min-height: 0;
    height: 0; }
  .modal-dialog .media-body {
    padding: 30px 0 30px 10px;
    min-height: 350px; }
  .modal-dialog .modal-title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px; }
  .modal-dialog .modal-url {
    font-size: 14px; }
  .modal-dialog .modal-description {
    margin: 20px 0; }
    .modal-dialog .modal-description p {
      padding: 0 0 10px 0 !important;
      line-height: 20px;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 0; }
  .modal-dialog .list-inline {
    padding: 0; }

.list-competences {
  margin-bottom: 5px; }
  .list-competences li {
    vertical-align: bottom; }
