ul.list-inline.list-unstyled.list-competences
    li
        i.icon.html5.f13
    li
        i.icon.css3.f13
    li
        i.icon.javascript.f22
    li.hidden-xs
        i.icon.php.f22
    li.hidden-xs
        i.icon.mysql.f18
    li.hidden-xs
        i.icon.nodejs.f18
    li
        i.icon.jasmine.f18
    li
        i.icon.git-icon.f20
    li
        i.icon.photoshop-cc.f9
    li.hidden-xs
        i.icon.sketch.f18


ul.list-inline.list-unstyled.list-competences
    li
        i.icon.less-logo.f8
    li
        i.icon.sass.f23
    li
        i.icon.angular.f18
    li.hidden-xs
        i.icon.knockout.f23
    li
        i.icon.bootstrap.f18
    li
        i.icon.wordpress.f18
    li.hidden-xs
        i.icon.woocommerce.f22
    li
        i.icon.grunt.f16
    li.hidden-xs
        i.icon.gulp.f12