p As a student at Udacity, I need to put in practice things that I've learned in few mandatory projects in order to complete this couse.
p.lead Projects:
ul.list-unstyled
    li -
        strong &nbsp; Build a Portfolio Site
        i.text-muted &nbsp; (
            a(href="https://github.com/razvanstan/portfolio/", target="_blank") github
            | )

    li - Online Resume &nbsp;
        i.text-muted coming soon

    li - Classic Arcade Game Clone &nbsp;
        i.text-muted coming soon

    li - Website Optimization &nbsp;
        i.text-muted coming soon

    li - Neighborhood map &nbsp;
        i.text-muted coming soon

    li - Feed Reader Testing &nbsp;
        i.text-muted coming soon
hr
ul.list-unstyled.list-inline.portfolio-technologies
    li
        i.icon.html5.f13
    li
        i.icon.css3.f13
    li
        i.icon.sass.f23
    li
        i.icon.bootstrap.f18
    li
        i.icon.javascript.f22
    li
        i.icon.git-icon.f20
    li
        i.icon.gulp.f12
