.modal-description
    p A modern storytelling app for iPad that brings the classic Romanian stories back to life and draws them closer to the heart of kids and parents altogether.
    p My contributions for this project was to transform .psd layout into html and css.

hr
ul.list-unstyled.list-inline.portfolio-technologies
    li
        i.icon.html5(style="font-size: 13px;")
    li
        i.icon.css3(style="font-size: 13px;")
    li
        i.icon.less-logo(style="font-size: 8px;")
    li
        i.icon.bootstrap(style="font-size: 18px;")
    li
        i.icon.javascript(style="font-size: 22px;")
    li
        i.icon.git-icon(style="font-size: 20px;")
    li
        i.icon.gulp(style="font-size: 12px;")