p As a student at Udacity, I need to put in practice things that I've learned in few mandatory projects in order to complete this couse.
p.lead Projects:
ul.list-unstyled
    li -
        strong &nbsp; Build a Portfolio Site
        i.text-muted &nbsp; (
            a(href="http://github.com/razvanstan", target="_blank") github
            | )

    li - Online Resume &nbsp;
        i.text-muted coming soon

    li - Classic Arcade Game Clone &nbsp;
        i.text-muted coming soon

    li - Website Optimization &nbsp;
        i.text-muted coming soon

    li - Neighborhood map &nbsp;
        i.text-muted coming soon

    li - Feed Reader Testing &nbsp;
        i.text-muted coming soon
hr
ul.list-unstyled.list-inline.portfolio-technologies
    li
        i.icon.html5(style="font-size: 13px;")
    li
        i.icon.css3(style="font-size: 13px;")
    li
        i.icon.sass(style="font-size: 23px;")
    li
        i.icon.bootstrap(style="font-size: 18px;")
    li
        i.icon.javascript(style="font-size: 22px;")
    li
        i.icon.git-icon(style="font-size: 20px;")
    li
        i.icon.gulp(style="font-size: 12px;")
