.modal-description
    p A modern storytelling app for iPad that brings the classic Romanian stories back to life and draws them closer to the heart of kids and parents altogether.
    p My contributions for this project was to transform .psd layout into html and css.

hr
ul.list-unstyled.list-inline.portfolio-technologies
    li
        i.icon.html5.f13
    li
        i.icon.css3.f13
    li
        i.icon.less-logo.f8
    li
        i.icon.bootstrap.f18
    li
        i.icon.javascript.f22
    li
        i.icon.git-icon.f20
    li
        i.icon.gulp.f12