.modal-description
    p Drive your business to the next level. New way to make creative things with your work.
    p A template for authors which want to publish and sale their books.
    p On this project I started from scratch. Mockups, than create design in Photoshop and transform into Html & Css, and at the end add interactions and polish again entire work :)
hr
ul.list-unstyled.list-inline.portfolio-technologies
    li
        i.icon.photoshop-cc(style="font-size: 9px;")
    li
        i.icon.html5(style="font-size: 13px;")
    li
        i.icon.css3(style="font-size: 13px;")
    li
        i.icon.less-logo(style="font-size: 8px;")
    li
        i.icon.bootstrap(style="font-size: 18px;")
    li
        i.icon.javascript(style="font-size: 22px;")
    li
        i.icon.git-icon(style="font-size: 20px;")
    li
        i.icon.gulp(style="font-size: 12px;")