.modal-description
    p Drive your business to the next level. New way to make creative things with your work.
    p A template for authors which want to publish and sale their books.
    p On this project I started from scratch. Mockups, than create design in Photoshop and transform into Html & Css, and at the end add interactions and polish again entire work :)
hr
ul.list-unstyled.list-inline.portfolio-technologies
    li
        i.icon.photoshop-cc.f9
    li
        i.icon.html5.f13
    li
        i.icon.css3.f13
    li
        i.icon.less-logo.f8
    li
        i.icon.bootstrap.f18
    li
        i.icon.javascript.f22
    li
        i.icon.git-icon.f20
    li
        i.icon.gulp.f12