nav.navbar
    .media
        .pull-left
            i.icon.logo

        .pull-right
            ul.header-icons.list-unstyled.list-inline
                li
                    a(href="https://github.com/razvanstan/", target="_blank")
                        i.icon-github
                li
                    a(href="http://ro.linkedin.com/in/razvanstan", target="_blank")
                        i.icon-linkedin
                li
                    a(href="http://twitter.com/razvanstan", target="_blank")
                        i.icon-twitter
                li
                    a(href="https://www.instagram.com/razvanstan.ro/", target="_blank")
                        i.icon-instagram
                li
                    a(href="http://facebook.com/razvanstan.ro", target="_blank")
                        i.icon-facebook

