body {
  background-image: url("images/bg.jpg");
}

p {
  margin-bottom: 5px;
}

.pb20 {
  padding-bottom: 20px;
}

.f8 { font-size: 8px; }
.f9 { font-size: 9px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f22 { font-size: 22px; }
.f23 { font-size: 23px; }

.main-container {
  margin: 20px auto;

  position: relative;
  min-height: 800px; //temp
}

blockquote {
  display: inline-block;
  position: relative;
  border: none;
}

.footer {
  margin-top: 50px;
  padding-top: 30px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right,transparent,rgba(9,57,85,.3),transparent);
    top: 0;
    left: 0;
  }
}

.subtitle {

  margin-bottom:15px;
  padding-bottom:15px;
  font-size: 32px;
  position: relative;
  line-height: 1;

  &:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 2px;
    background: $brand-success;
    bottom: 0;
    left: 2px;
  }
}

@media (max-width: $screen-xs-max ) {
  .navbar {
    margin-bottom: 0;
    .pull-right {
      width: 100%;
      text-align: center;
    }
  }

  header { margin: 15px 0; }
}

@media (min-width: $screen-sm-min ) {

  header { margin: 50px 0; }
  .subtitle { margin-top:0; }
}




